<div class="jumbotron text-center">
    <!--{{vm.oneStudent}}-->
    <div class="container">
        <h2>{{vm.oneStudent.Name}}</h2>
        <table class="table table-striped">
            <tr>
                <td>Class</td>
                <td>{{vm.oneStudent.Class}}</td>
            </tr>
            <tr>
                <td>Admission</td>
                <td>{{vm.oneStudent.AdmissionYear}}</td>
            </tr>
            <tr>
                <td>Fathers Name</td>
                <td>{{vm.oneStudent.Fname}}</td>
            </tr>
            <tr>
                <td>Mothers Name</td>
                <td>{{vm.oneStudent.Mname}}</td>
            </tr>
            <tr>
                <td>Last Year performance</td>
                <td>{{vm.oneStudent.LastYearResult}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{vm.oneStudent.Address}}</td>
            </tr>
            <tr>
                <td>Contact No.</td>
                <td>{{vm.oneStudent.Contact}}</td>
            </tr>


        </table>
    </div>
</div>